<div class="news-container">
    <div class="button-container">
        <app-button *ngIf="mostrarAddTarefa"  text="Fechar" color="red" (btnClick)="AlteraVisualizacao(false)"></app-button>
        <app-button *ngIf="!mostrarAddTarefa" text="Adicionar Tarefa" color="green" (btnClick)="AlteraVisualizacao(true)"></app-button>
    </div>

    <form (ngSubmit)="onSubmit()" *ngIf="mostrarAddTarefa" class="add-form">
        <div class="form-group">
            <label for="text">Name News:</label>
            <input type="text" name="text" class="form-control" placeholder="Add News" id="text" [(ngModel)]="nome">
        </div>
        <div class="form-group">
            <label for="text">Description:</label>
            <input type="text" name="text" class="form-control" placeholder="Add Description" id="text" [(ngModel)]="descricao">
        </div>
        <div class="form-group">
            <label for="text">Publication Date:</label>
            <input type="text" name="text" class="form-control" placeholder="Add Publication Date" id="text" [(ngModel)]="dataPublicacao">
        </div>
        <div class="form-group">
            <label for="categoria">Categoria:</label>
            <select name="categoria" id="categoria" class="form-select" [(ngModel)]="categoria">
                <option value="">Select a category</option>
                <option value="casa">Home</option>
                <option value="trabalho">Work</option>
                <option value="faculdade">Faculty</option>
                <option value="academia">Academy</option>
                <option value="lazer">Leisure</option>
            </select>
        </div>
        <input type="submit" value="Salvar Tarefa" class="btn btn-primary btn-block mb-4">
    </form>
</div>
